<h1>DOG SHOW PAGE</h1>

<%= @dog.name %>
<br>

<%= @dog.shelter_id %>
<br>

<p>
	<%#= link_to "GET SHELTER ADDRESS", shelters_path('NY805') %>
	<!-- <%= link_to "GET SHELTER ADDRESS", shelter_path(@bla) %> -->
	<%= link_to "GET SHELTER ADDRESS", "/shelter/#{@bla}" %>

</p>

<p>
	DOG BREEDS ARE:
	<%= @breeds %>
</p>